.App {
  text-align: center;
  background-color: #FAF9F6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#itemCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
    line-height: 100%;
    max-height: 300px;
    min-height: 100px;
    height: fit-content;
    border-radius: 5px;
    /* padding: 2rem; */
    margin: 1rem;
    background-color: white;
    flex-grow: 1;
    
}

#itemCard:hover{
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

#itemList{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.primaryButton{
  background-color: #1143f8;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  border-width: 1.5px;
  min-width: 100% ;
  min-height: 35px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.primaryButton:hover{
  opacity: 70%;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  
}

.secondaryButton{
  background-color: white;
  color: #1143f8;
  font-weight: 600;
  border-radius: 8px;
  border-width: 1px;
  min-width: 100% ;
  min-height: 35px;
  margin-bottom: 5px;
  margin-top:5px;
}

.secondaryButton:hover{
  opacity: 70%;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}


.itemPicSmall{
  /* width: 100%; */
  /* max-height: 50%; */
  height:150px;
  flex-basis: auto;
  align-content: center ;
  object-fit: fill;

}

.internalListSmall{
  list-style: none;
  width : 80%;

}

.li{
  align-content: center;
  text-align: center;
}

.liMain {
  min-width: 20%;
  max-width: 250px;
align-content: center;
  text-align: center;
}

.liSub {

}